.z-github{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 316vh;
    background: linear-gradient(222deg, #2b3137, #0d74e7, #2fbb4f);
    background-size: 600% 600%;
    display: flex;
    animation: gradient 10s linear infinite;
}
.gato{
    width: 47vh;
    align-self: center;
    position: absolute;
    left: 75vh;
    animation: michi 10s linear infinite;
}
.lin-git{
    align-self: center;
    position: absolute;
    top: 77vh;
    font-size: 3vw;
    font-family: 'Press Start 2P';
    left: 44vh;
    color: white;
    text-decoration: none;
}
@keyframes michi {
    from{ transform: rotate(0deg);}
    to{ transform: rotate(360deg);}
}
@keyframes gradient {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}