.z-personaje {
    width: 100%;
    height: 100vh;
    display: grid;

    .rec1 {
        position: absolute;
        top: 110.8%;;
        height: 100%;
        width: 45%;
    }

    .rec2 {
        position: absolute;
        top: 110%;
        height: 100%;
        left: 30%;
        z-index: -2;
        animation: ca2 7s ease-in-out infinite;
    }

    .soil {
        position: absolute;
        top: 186.2%;
        left: 1%;
        z-index: -2;
        height: 24.6%;
        width: 140%;
    }

    .fondo {
        position: absolute;
        top: 86.4%;
        z-index: -5;
        left: 27% !important;
        width: 17%;
        height: auto;
    }

    .cloud1 {
        position: relative;
        top: 30%;
        left: 50%;
        width: 30%;
        height: 40%;
    }

    .cloud2 {
        position: relative;
        left: 70%;
        width: 30%;
        height: 40%;
        z-index: -3;
    }
}

.player {
    position: absolute;
    top: 157.5%;
    width: 12%;
    left: 22%;
    z-index: -1;
}

.duende {
    position: absolute;
    top: 173.1%;
    width: 7%;
    height: 20%;
    left: 10%;
    z-index: -1;
}

.z-personaje:hover #ani {
    animation: run 3s normal forwards ease-in-out;
}

.z-personaje:hover #rn-soil {
    animation: run-soil 10s normal forwards ease-in-out;
}

.z-personaje:hover #enemy {
    animation: run-enemy 3s normal forwards ease-in-out;
}

.z-personaje:hover #sky {
    animation: sky-anima 10s normal forwards ease-in-out;
}

.z-personaje:hover #cloud-1 {
    animation: levitate 2s normal infinite ease-in-out;
}

.z-personaje:hover #cloud-2 {
    animation: levitate2 2s normal infinite ease-in-out;
}

@keyframes ca2 {
    0% {
        left: 30%;
    }

    50% {
        left: 33%;
    }

    100% {
        left: 30%;
    }
}

@keyframes run {
    from {
        left: 22%;
    }

    to {
        left: 70%;
    }
}

@keyframes run-enemy {
    from {
        left: 10%;
    }

    to {
        left: 55%;
    }
}

@keyframes run-soil {
    from {
        left: 22%;
    }

    to {
        left: -40%;
    }
}

@keyframes sky-anima {
    0% {
        width: 17%;
        filter: hue-rotate(0deg)
    }

    20% {
        width: 80%;
        filter: hue-rotate(150deg)
    }

    100% {
        width: 80%;
        filter: hue-rotate(0deg)
    }
}

@keyframes levitate {
    0% {
        top: 30%;
    }

    50% {
        top: 35%;
    }

    100% {
        top: 30%;
    }
}

@keyframes levitate2 {
    0% {
        top: 10%;
    }

    50% {
        top: 0%;
    }

    100% {
        top: 10%;
    }
}