@import "components/normal/resset";
@import "components/normal/loadwindow.scss";
@import "components/normal/z_teaser.scss";
@import "components/normal/z_personaje.scss";
@import "components/normal/z-integrantes";
@import "components/normal/github";


// @import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Press+Start+2P&display=swap');

// compilar sass a css
    // sass --watch pagina_web/styles/sass/main.scss pagina_web/styles/css/custom.css
    // sass --watch styles/sass/main.scss styles/css/custom.css

    // htdocs


html{
    ::-webkit-scrollbar{
        display: none;
    }
    overflow-x: hidden;
}
.main-container {
    display: grid;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0%;
    background-color: rgb(255, 255, 255);
    z-index: -2;
}
.f-scroll{
    overflow: hidden !important;
}
@media (max-width: 400px){
    .main-container {
        display: grid;
        width: 100vh;
        height: 100vh;
        position: absolute;
        top: 0%;
        background-color: rgb(255, 255, 255);
        z-index: -2;
    }
}